@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 3px;
  background: black;
}

::-webkit-scrollbar-thumb {
  background-color: gray; 
}

::-webkit-scrollbar-thumb:hover {
  background: white;
}
